{% extends "base.html" %}

{% block title %}
Change Password | College ERP
{% endblock %}


{% block content %}

<div class="row justify-content-center">

    <div
        class="col-lg-6"
        data-aos="zoom-in"
    >

        <div class="dashboard-card">

            <div class="text-center mb-4">

                <div
                    class="mx-auto mb-3 d-flex align-items-center justify-content-center"
                    style="
                        width:65px;
                        height:65px;
                        border-radius:18px;
                        background:#eef2ff;
                        color:#4f46e5;
                        font-size:25px;
                    "
                >

                    <i class="fa-solid fa-key"></i>

                </div>

                <h3 class="fw-bold">
                    Change Password
                </h3>

                <p style="color:var(--muted);">
                    Keep your account secure.
                </p>

            </div>


            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button
                    class="btn btn-primary w-100"
                    type="submit"
                >

                    Change Password

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}